@media screen and (min-width: 1501px) {
  #comment_media_wrapper {
    width: 1400px;
  }
}
@media screen and (min-width: 1081px) and (max-width: 1500px) {
  #comment_media_wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 981px) and (max-width: 1080px) {
  #comment_media_wrapper {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  #comment_media_right {
    display: none;
  }
}
